Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "Mayank"                   #str
b= [4,6,345, "Rahul", 579.4]   #list
c= 76.5                        #float
d= (45,35,True)                #turple

Q2. Given are some following variables containing data. What will be the data type of the above given variable.
(i) var1 = ‘ ‘                                  # Here it is a string
(ii) var2 = ‘[ DS , ML , Python]’               # It is a string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]         # It is a list
(iv) var4 = 1.                                  # It is a floating no.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:
x= 10
y = 4
print(x/y)       # quotient is given when x is divided by Y
print(x%y)       # remainder is given when x is divided by y 
print (x//y)     # Nearest integer of quotient is given when x is divided by y
print(x**y)      # x is multiplied y times

2.5
2
2
10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
l = [2, "I" , "Me", "Myself", 5,4.6 , True, "PW", False, 78 ]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
I
<class 'str'>
Me
<class 'str'>
Myself
<class 'str'>
5
<class 'int'>
4.6
<class 'float'>
True
<class 'bool'>
PW
<class 'str'>
False
<class 'bool'>
78
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [4]:
a=int(input())
b=int(input())
while a%b==0:
    print('a is divisible by b', 'and a is divisible by b for', a/b, 'times')
    break
else:
    print('a is not divisible by b')

 100
 10

a is divisible by b and a is divisible by b for 10.0 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l1:
    if i % 3 == 0: 
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [6]:
#Mutable data type are those which can be eddited when we do any changes in terms of adding, removing, replacing with the help of index value.
s= ["Mayank", 29, "Aug", 2003]
s[1]= 15
s

['Mayank', 15, 'Aug', 2003]

In [7]:
#Immutable data type are those which cannot be eddited when we do any changes in terms of adding, removing, replacing with the help of index value.
s1 = (45,23,64,94) 
s1[0] = "Mayank"
s1

TypeError: 'tuple' object does not support item assignment